@import '../../../styles/_variables';

.titleAndImgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardImage {
  min-width: 32px;
  margin-right: 5px;
  align-self: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.stars {
  display: flex;
}

@media screen and (min-width: 768px) {
  .card {
    width: auto;
    width: 280px;
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 280px;
  }
}
