.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.searchInput {
  width: 296px;
}

.searchResult {
  width: 296px;
  padding: 0;
  text-align: center;
  position: absolute;
  z-index: 9999;
  display: table;
  list-style-type: none;
}
